@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #A8D0E6;
  --title: #F8E9A1;
  --subtitle: #F76C6C;
  --text: #24305E ;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;    
    --background: #24305E;
    --title: #F8E9A1;
    --subtitle: #F76C6C;
    --text: #A8D0E6;
  }
} */

body {
  color: var(--text);
  background-color: var(--background);  
}

.dark {
  --foreground-rgb: 255, 255, 255;    
  --background: #24305E;
  --title: #F8E9A1;
  --subtitle: #F76C6C;
  --text: #A8D0E6;
}

.title {
  color: var(--title); 
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -3px;
}

@media (min-width: 768px){
  .title {
    font-size: 8rem
  }
}

.subtitle {
  color: var(--subtitle);
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 6px;
}

.container-flex-centered {
  @apply flex grow flex-col items-start px-4 py-24 mx-auto
}


